*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body{
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main{
    background-color: rgb(244, 184, 184);
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    color: transparent;
    background: linear-gradient(90deg,
            rgb(7, 119, 156),
            rgb(208, 98, 25));
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    transition: background-size,text-shadow 1s linear;
    animation: fillText 2.5s linear infinite alternate;
}

@keyframes fillText {
    from {
        background-size: 0% 100%;
    }

    to {
        background-size: 100% 100%;
        text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.622);
    }
}

.app-Inputs{
    width: 80%;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.btn{
    border: 0.1px solid rgba(255, 255, 255, 0.612);
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    overflow: hidden;
    background: transparent;
    transition: 0.25s background-color linear;
    box-shadow: 2px 2px 6px rgb(230, 79, 79);
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.507);
}

.btn:active{
    transition: 0.01s linear;
    box-shadow: -2px -2px 0px rgb(88, 85, 85);
}

.input{
    height: 60px;
    font-size: 15px;
    outline: 0;
    border: none;
    border-radius: 20px;
    border-bottom: 0.1px solid rgb(113, 112, 113);
    border-left: 0.1px dotted rgb(113, 112, 113);
    border-right: 0.1px dotted rgb(113, 112, 113);
    transform-origin: bottom;
    text-align: center;
    background-color: rgba(236, 109, 109, 0.336);
    background: transparent;
    border-bottom: 2px solid rgb(134, 75, 149);
}

.input::placeholder{
    color: rgba(104, 102, 100, 0.87);
}

.display{
    width: 80%;
    height: 200px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display #content{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    border: 1px solid rgb(234, 122, 122);
}

/* @media screen and (max-width: 725px) {
    .app-Inputs{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 8px;
    }

    h1{
        font-size: 16px;
    }

    .main{
        padding-top: 20px;
        padding-bottom: 20px;
    }
} */

@media screen and (max-width: 693px){
    .app-Inputs{
        flex-wrap: wrap;
    }
}